.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
     width: 15%;
   
    background-color: #D2CCDD;
  
    height: 100%;
    position: fixed;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav li{
    
    
    position: relative;
    margin-top: 20px;


    
}
.nav li a{
    display: block;
    color: white;
    text-align: center;
  
    padding: 14px 16px;
    text-decoration: none;
    
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    
}
.nav li a:hover{
    background-color: #B7B6C1;
    color: white;
}
.content{
    margin-left: 15%;
    padding: 20px;
    height: 1000px;
}