.tooltip{
    position:relative;
    display:inline-block;
}
.tooltiptext{
    display:none;
    position:absolute;
    background-color:black;
    color:#fff;
    padding:0px 5px;
    border-radius:5px;
    /* margin-top: -5px; */
    /* left:50%; */
    min-width: 120px;
    text-align: center;
    
    box-shadow: 0px 0px 10px rgba(27, 200, 177, 0.5);
}
.tooltip:hover .tooltiptext{
    display:block;
}