body{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 12px;
}
.tooltip{
    position:relative;
    display:inline-block;
    border-bottom: 1px solid black;
    
}
.tooltiptext{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

}
.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}