#mingtian{
    color: red;
    text-align: center;
}
body{
   background-image: url(/img/back.jpg);
     background-repeat: repeat-x;
}
/* h1{
    background-color: #6495ed;
  
} */
.article-title{
   text-align: center;
}
.article-date{
    text-align: right;
}
.article-content{
    text-align: justify;
    text-indent: 100px;
}
a{
    text-decoration: none;
}
.heading1{
    text-decoration: overline; 
}
.heading2{
    text-decoration: line-through;
}
.heading3{
    text-decoration: underline;
}
a:link{
    color:#000000;
}
a:visited{
    color:#0000ff;
}
a:hover{
    color:#ff0000;
}
.list-a{
   list-style-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN21ycTc0YTFwZ2xuMHJhNTl0bGZmcWpuOGdmcnJ4Y2VkMDZoNGhnaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ISlgOhgYgB27vBIgEK/giphy.gif');
}
.list-b{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-c{
    list-style-type: decimal;
}
.list-d{
    list-style-type: lower-roman;
}
table,th,td{
    border: 1px solid green;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    height: 50px;
    vertical-align: middle;
    background-color: black;
    color: white;
}
td{
    height: 50px;
    text-align: center;
    background-color: aliceblue;
    padding: 15px;
}
.box-model{
    background-color: lightgray;
    width: 300px;
    border: 5px outset black;
    padding: 10px;
    margin: 100px;
}
.outline{
    border: 2px solid red;
    outline: 10px solid blue;
}