#mingtian{
    color: red;
    text-align: center;
}
body{
   background-image: url(/img/back.jpg);
     background-repeat: repeat-x;
}
/* h1{
    background-color: #6495ed;
  
} */
.article-title{
   text-align: center;
}
.article-date{
    text-align: right;
}
.article-content{
    text-align: justify;
    text-indent: 100px;
}

.heading1{
    text-decoration: overline; 
}
.heading2{
    text-decoration: line-through;
}
.heading3{
    text-decoration: underline;
}
a:link{
    color:#000000;
}
a:visited{
    color:#0000ff;
}
a:hover{
    color:#ff0000;
}
.list-a{
   list-style-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN21ycTc0YTFwZ2xuMHJhNTl0bGZmcWpuOGdmcnJ4Y2VkMDZoNGhnaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ISlgOhgYgB27vBIgEK/giphy.gif');
}
.list-b{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-c{
    list-style-type: decimal;
}
.list-d{
    list-style-type: lower-roman;
}
table,th,td{
    border: 1px solid green;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    height: 50px;
    vertical-align: middle;
    background-color: black;
    color: white;
}
td{
    height: 50px;
    text-align: center;
    background-color: aliceblue;
    padding: 15px;
    color: black;
}
.box-model{
    background-color: lightgray;
    width: 300px;
    border: 5px outset black;
    padding: 10px;
    margin: 100px;
    /* 隐藏元素，不占用空间 */
    display: none;
}
.outline{
    border: 2px solid red;
    outline: 10px solid blue;
}
.box-model1{
    background-color: lightgray;
    width: 300px;
    border: 5px outset black;
    padding: 20px;
    margin:0 auto;
    color:pink;
    /* 隐藏元素，占用空间 */
    /* visibility: hidden;
 */
}
*{
    color: red;
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.nav ul li a{
    text-decoration: none;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* z-index: 1000; */
}
.demo1{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
}
.demo2{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    
}
.demo3{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.demo2 p{
    position: relative;
    right: -1000px;
}
.float1{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    float: left; 
    margin: 5px; 
   
}
.float2{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    float: left;
        margin: 5px;
}
.float3{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
}
.float4{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
    clear: both;
}
.float5{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
}
.float6{
    background-color: rgb(125, 57, 57);
    border:1px solid black;
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
}
.overflow1{
    background-color: rgb(125, 57, 57);
    border: 1px solid black;
    padding: 15px;
    width: 80%;
    height: 100px;
    color: white;
    overflow:auto;
}
.fixed span{
    position: fixed;
    top: 10px;
    left: 10px;
}
p.relative{
    position:relative;
    left: 50px;
}
.absolute{
    position:absolute;
    top: 1000px;
    right: 10px;
}